table {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    height: 100%;
    width: 1-0%;
    border-radius:50%;
    text-align: left;
    border-collapse: collapse;
    border: 1px solid #ddd;

}
.page-selected{
    background-color: lightgreen;
}
.send-column{
    text-align: center;
}
.table-banner{
    background-color: #F5F5F5;
    border: none;
    width: 100%;
}
.table-header{
    
    text-align: right;
    
}
th{
    color: #2e2e2e;

}
table thead {
    flex: 0 0 auto;
    width: 100%;
}
table tbody {
    display: block;
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: scroll;
}
table tbody tr {
    width: 100%;
}
tr:nth-child(even){
    background-color: #EEEEEE;
}
table thead, table tbody tr {
    display: table;
    table-layout: fixed;
}
tr{
    border-top: 1px solid #cbcbcb;
    line-height: 1.5;
}
