<table>
    <thead>
        <tr class="table-banner">
            <th class="table-header" colspan="7">
                Show items per page
                <select name="" id="" (change)="changeNumberOfItemsPerPage($event)">
                    <option *ngFor="let page of pagesDropDown" value="{{page}}">{{page}}</option>
                </select>
            </th>
        </tr>
        <tr>
            <th></th>
            <th colspan="2" *ngFor="let header of tableHeaders | slice:0:3">{{header}}</th>
        </tr>
    </thead>
    <tbody>
        <td *ngIf="noData">No records to display. Check browser console for errors</td>
        <tr *ngFor="let item of users| slice:startingPage:cutOff; let i=index; ">
            <td class="send-column"><button (click)="sendData(item.status, item.guid)">+</button></td>
            <td colspan="2" *ngFor="let col of tableHeaders | slice:0:3">{{item[col]}}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="6">
                <div>
                    <button (click)="previousPage()" [disabled]="pageSelected < 2">
                        < </button> <button *ngFor="let p of pages" (click)="changePage(p)"
                            [ngClass]="{'page-selected': p === pageSelected}">{{p}}
                    </button>
                    <button (click)="nextPage()" [disabled]="pageSelected >= pages.length">></button>
                </div>
            </td>
        </tr>
    </tfoot>
</table>