<table>
    <thead>
        <tr>
            <th></th>
            <th colspan="2" *ngFor="let header of tableHeaders | slice:0:3">{{header}}</th>
        </tr>
    </thead>
    <tbody (scroll)="scrollTable($event)">
        <td *ngIf="noData">No records to display. Check browser console for errors</td>

        <tr *ngFor="let item of users| slice:startingPage:cutOff; let i=index; ">
            <td class="send-column"><button (click)="sendData(item.status, item.guid)">+</button></td>
            <td colspan="2" *ngFor="let col of tableHeaders | slice:0:3">{{item[col]}}</td>
        </tr>
    </tbody>
</table>