<div > 
  <h1>User Profiles</h1>
  <h2>By Ayman Alzyoud</h2>
  <a routerLink="">Table With Pagination</a> -
  <a routerLink="table-scroll">Table without pagination</a>

</div>
<router-outlet></router-outlet>